{% extends "base.html" %}
{% load get_thumbnail %}

{% block content %}


    <ul>
        {% for product_instance in object.products.all %}

            <li>
{#                <a href="{{ product_instance.get_absolute_url }}"></a>#}

{#                {{ product_instance }}#}
{#                {{ product_instance.thumbnail_set.all }} <br>#}
{#                {{ product_instance.thumbnail_set.all.first }} <br>#}
{#                {{ product_instance.thumbnail_set.all.first.media }} <br>#}
                <a href="{{ product_instance.get_absoulte_url }}">
{#                    <img src="{{ product_instance.thumbnail_set.all.first.media.url }}" alt="">#}
                    <img src='{{ product_instance | get_thumbnail:"hd" }}' alt="">
                </a>


            </li>


        {% empty %}
            <li>No Tags yet.</li>
        {% endfor %}
    </ul>


{% endblock content %}